.toast-container{
    position: fixed; /* Sit on top of the screen */
    z-index: 3000; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
.alert {
    min-width: 400px; /* Set a default minimum width */
    margin-left: -200px; /* Divide value of min-width by 2 */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.alert.closing{
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
}

.close {
  right: 0;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: -30px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -30px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 0; opacity: 1;}
    to {top: -30px; opacity: 0;}
}

@keyframes fadeout {
    from {top: 0px; opacity: 1;}
    to {top: -30px; opacity: 0;}
}
